<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138236453276-jn44icpdd4dlnq8jmlg16rbem68tnl3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138236453276-jn44icpdd4dlnq8jmlg16rbem68tnl3j</string>
	<key>API_KEY</key>
	<string>AIzaSyDgZyIZjfJgf9Tmm0XHYIK-b_Tp8MSQ7nI</string>
	<key>GCM_SENDER_ID</key>
	<string>138236453276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.appDNFT</string>
	<key>PROJECT_ID</key>
	<string>d-nft-eaf90</string>
	<key>STORAGE_BUCKET</key>
	<string>d-nft-eaf90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138236453276:ios:40654eb848de7776cfe859</string>
</dict>
</plist>